.a{
    background-color: dodgerblue;
}
.b{
    margin-left: 500px;
}
.c{
    color: white;
    margin-left: 200px;
}
.d{
    text-align: center;
    color: white;
}
.f{
    word-spacing: normal;
}
.g{
    margin-left: 600px;
}
.h{
    border: 2px solid white;
    
}